@import '../../base/var.scss';
@import '~bootstrap/scss/bootstrap.scss';

.App-button {
  @include media-breakpoint-down(sm) {
    font-size: 0.8em;
  }

  button {
    cursor: pointer;
    display: inline-block;
    font-style: italic;
    text-align: center;
    text-decoration: underline;
    @include transition(all, 0.3s);

    &.App-button-basic {
      background-color: $color-theme;
      border: 1px solid $color-theme;
      color: $color-white;

      &:hover {
        border-color: $color-white;
        background-color: $color-white;
        color: $color-theme;
      }
    }

    &.App-button-void {
      background-color: transparent;
      color: $color-theme;
      border: 1px solid $color-theme;

      &.App-button-light {
        border-color: $color-white;
        color: $color-white;
      }

      &:hover {
        border-color: $color-theme;
        color: $color-white;
        background-color: $color-theme;
      }
    }

    &:active {
      opacity: 0.5;
    }
    &:focus {
      outline: none;
    }
  }
}