@import '../../base/var.scss';

.App-button {
  display: inline-block;
  cursor: pointer;
  font-style: italic;
  background-color: $color-white-semitransparent;
  color: $color-theme;
  border: 1px solid $color-gray;

  &:hover {
    border-color: $color-theme;
    color: $color-white;
    background-color: $color-theme;
  }
  &:active {
    opacity: 0.5;
  }
}