@import '../../base/var.scss';
@import '~bootstrap/scss/bootstrap.scss';

.App-welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  background-size: cover;

  &:before {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #000;
    opacity: 0.3;
    z-index: 0;
  }

  .App-request-sent {
    text-align: center;
  }

  .App-welcome-content {
    text-align: center;
    color: white;
    position: relative;
    margin-top: -2em;

    .App-welcome-slogan {
      font-size: 5em;
      margin: 0.5em auto;
      line-height: 1.2;

      @include media-breakpoint-down(sm) {
        font-size: 2.4em;
      }
    }

    .App-text-title {
      margin-bottom: 2em;
    }
  }
}