@import '../../base/var.scss';

.App-header {
  position: relative;
  z-index: 1;
  background-color: $color-theme-semitransparent;
  height: 60px;

  .App-header-content {
    line-height: 60px;
  }

  .App-header-logo {
    height: 20px;
  }
}