@import '../../base/var.scss';

.App-request-form {

  .App-text-subtitle {
    margin-bottom: 2em;
    text-align: center;
  }

  .App-request-form-send {
    width: 100%;
  }

  .App-request-form-failed {
    margin-top: 1em;
    text-align: center;
    color: $color-alert;
  }
}