@import './var.scss';

.App {
  position: relative;
  color: $color-black;
}

.App-full-height {
  min-height: 100vh;
  margin-top: -60px;
  margin-bottom: -75px;
  padding-top: 60px;
  padding-bottom: 75px;
}

// Text styles 
.App-text-title {

}

.App-text-subtitle {
  font-size: 1.5em;
  font-style: italic;
  font-weight: 700;
  color: $color-gray-dark;
  margin: 0.5em 0 1em;
}

.App-text-body {

}

.App-text-body-2 {

}

.App-text-footnote {

}