@import './var.scss';
@import '~bootstrap/scss/bootstrap.scss';

.App {
  position: relative;
  color: $color-black;
}

.App-full-height {
  min-height: 100vh;
  margin-top: -60px;
  margin-bottom: -75px;
  padding-top: 60px;
  padding-bottom: 75px;
}

// Text styles 
.App-text-title {
  line-height: 1.2;
  font-size: 2em;
  margin: 0.5em 0 1em;

  @include media-breakpoint-down(sm) {
    font-size: 1.5em;
  }
}

.App-text-subtitle {
  line-height: 1.2;
  font-size: 1.5em;
  font-style: italic;
  font-weight: 700;
  color: $color-gray-dark;
  margin: 0.5em 0 1em;

  @include media-breakpoint-down(sm) {
    font-size: 1.3em;
  }
}

.App-text-body {
  line-height: 1.2;

}

.App-text-body-2 {
  line-height: 1.2;

}

.App-text-footnote {
  line-height: 1.2;

}